<div class="container azulAnimal flex align-items-center justify-content-center min-h-screen">
    <p-toast />
    <div class="loginContainer brancoAnimal text-center md:auto md:w-6 p-6 md:p-8 shadow-5 border-round-lg transition-all duration-300">
        <div class="p-2 mb-4">
            <h1 class="text-3xl font-bold text-gray-800">Animal Axis</h1>
            <p class="text-sm text-gray-500">Bem-vindo de volta! Faça login para continuar.</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-column gap-4 mb-3">
            <label for="email" class="text-left font-semibold">Endereço de E-mail:</label>
            <input id="email" type="email" pInputText formControlName="email" class="border-round-md shadow-2" placeholder="seuemail@exemplo.com" />
            <label for="senha" class="text-left font-semibold">Senha:</label>
            <input id="senha" type="password" pInputText formControlName="senha" class="border-round-md shadow-2" placeholder="******" />
            <button type="submit" class="p-button p-component font-bold text-white bg-green-600 border-none no-underline mt-4 hover:bg-green-700 transition-all duration-200">
                <span class="p-button-label">Entrar</span>
            </button>
        </form>
    </div>
</div>
