<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://animalaxisapi-eva6ffgtexg0g5en.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>cd6badd1-563e-4033-92ee-233f302c2ed7</ProjectGuid>
    <PublishUrl>https://animalaxisapi-eva6ffgtexg0g5en.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$AnimalAxisAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>