<app-nav-bar></app-nav-bar>

<div class="brancoAnimal p-4">
    <div class="m-0 md:m-6 text-center">
        <h1 class="text-3xl font-bold mb-6 text-gray-800">Bem-vindo ao Animal Axis</h1>
        <div class="grid justify-content-center m-3 gap-3">
            <a routerLink="/pet/search"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-teal-600 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-heart text-center" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Meus Pets</h2>
                </div>
            </a>
            <a routerLink="/pet/register"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-blue-500 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-pencil" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Registro Pet</h2>
                </div>
            </a>
            <a routerLink="/nascimento/register"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-indigo-600 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-heart text-center" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Registro Nascimento</h2>
                </div>
            </a>
            <a routerLink="/nascimento/search"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-orange-500 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-calendar text-center" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Nascimentos</h2>
                </div>
            </a>
            <a routerLink="/medicamento/register"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-purple-500 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-file text-center" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Registro Sanitário</h2>
                </div>
            </a>
            <a routerLink="/medicamento/search"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-green-600 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-check-circle text-center" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Controle Sanitário</h2>
                </div>
            </a>
            <a routerLink="/reproducao/register"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-pink-600 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-check-circle text-center" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Registro Reprodução</h2>
                </div>
            </a>
            <a routerLink="/reproducao/search"
               class="col-12 sm:col-6 md:col-4 lg:col-3 cardPet bg-pink-200 border-round-2xl mb-4 transition-transform hover:scale-105 shadow-2 h-40 flex align-items-center justify-content-center no-underline">
                <div class="m-3 flex flex-column align-items-center text-white">
                    <i class="pi pi-check-circle text-center" style="font-size: 2rem"></i>
                    <h2 class="text-lg font-semibold">Controle Reprodução</h2>
                </div>
            </a>
        </div>
    </div>
</div>
