@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.azulAnimal{
    background-color: #FFFFFF;
}

.brancoAnimal{
    background-color: #FFFFFF;
}

.container{
    width: 100%;
    height: 100%;
}