<div class="container azulAnimal p-4 overflow-auto flex flex-column align-items-center justify-content-center">
    <p-toast />
    <div class="brancoAnimal text-center w-11 p-4 md:p-8 overflow-auto border-round shadow-4">
        <div class="p-2 mb-5">
            <h1 class="text-xl md:text-2xl">Registro Pet</h1>
        </div>
        <div [formGroup]="petForm" class="text-left mb-3">
            <p *ngIf="sexo == true">Macho</p>
            <p *ngIf="sexo == false">Fêmea</p>
            <p-inputSwitch formControlName="sexo" />
        </div>
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <div [formGroup]="petForm" class="flex flex-column gap-3 mb-3">
                    <label for="nome" class="text-left">Nome</label>
                    <input id="nome" type="text" pInputText formControlName="nome" />

                    <div class="grid grid-nogutter">
                        <div class="col-12 md:col-6 text-left mb-3 md:mb-0">
                            <div class="mb-3">
                                <label for="raca" class="text-left">Raça</label>
                            </div>
                            <p-dropdown class="text-left w-full" [options]="racas" formControlName="raca"
                                optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true"
                                placeholder="Selecione uma raça" id="raca">
                            </p-dropdown>
                        </div>

                        <div class="col-12 md:col-6 text-left">
                            <div class="text-left mb-3">
                                <label for="cor" class="text-left">Cor</label>
                            </div>
                            <p-dropdown class="text-left w-full" [options]="cores" formControlName="cor"
                                optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true"
                                placeholder="Selecione uma cor" id="cor">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="grid grid-nogutter">
                        <div class="col-12 md:col-6 text-left mb-3 md:mb-0">
                            <div class="mb-3">
                                <label for="dataDeNascimento" class="text-left">Data de Nascimento</label>
                            </div>
                            <p-calendar formControlName="dataDeNascimento" class="text-left" />
                        </div>
                        <div class="col-12 md:col-6 text-left mb-3 md:mb-0">
                            <div class="mb-3">
                                <label for="numeroDoRegistro" class="text-left">Número do Registro</label>
                            </div>
                            <input id="numeroDoRegistro" type="text" pInputText formControlName="numeroDoRegistro" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">

                <div [formGroup]="petForm" class="flex flex-column gap-3 mb-3">
                    <div class="grid grid-nogutter">
                        <div class="col-12 md:col-6 text-left mb-3 md:mb-0">
                            <div class="mb-3">
                                <label for="pai" class="text-left">Pai</label>
                            </div>
                            <p-dropdown class="text-left w-full" [options]="pais" formControlName="pai"
                                optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true"
                                placeholder="Selecione o pai" id="pai">
                            </p-dropdown>
                        </div>

                        <div class="col-12 md:col-6 text-left">
                            <div class="text-left mb-3">
                                <label for="mae" class="text-left">Mãe</label>
                            </div>
                            <p-dropdown class="text-left w-full" [options]="maes" formControlName="mae"
                                optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true"
                                placeholder="Selecione a mãe" id="mae">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="grid grid-nogutter">
                        <ng-container *ngIf="sexo == false">
                            <div class="col-12 md:col-6 text-left mb-3 md:mb-0">
                                <div class="mb-3">
                                    <label for="periodoDaCruza" class="text-left">Período da Cruza</label>
                                </div>
                                <p-calendar formControlName="periodoDeCruza" class="text-left" />
                            </div>

                            <div class="col-12 md:col-6 text-left mb-3 md:mb-0">
                                <div class="mb-3">
                                    <label for="dataDoCio" class="text-left">Data do Cio</label>
                                </div>
                                <p-calendar formControlName="dataDoCio" class="text-left" />
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <button (click)="cadastrarPet()"
                    class="p-button p-component font-bold text-white bg-green-500 border-none no-underline w-8 py-3 text-base md:text-lg">
                    <span class="p-button-label">Cadastrar Novo Pet</span>
                </button>
            </div>
        </div>
    </div>
</div>