<div class="container azulAnimal p-5 flex flex-column align-items-center justify-content-center overflow-auto">
    <div class="brancoAnimal text-center w-full md:w-8 p-6 md:p-8 border-round shadow-4 bg-white transition-shadow overflow-auto">
        <div class="p-2 mb-5">
            <h1 class="text-3xl font-bold mb-6 text-gray-800 tracking-wide">Meus Pets</h1>
        </div>

        <div [formGroup]="filterForm" class="mb-6">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 flex">
                <div class="col flex flex-column">
                    <label for="nome" class="font-semibold text-left mb-4">Nome</label>
                    <input id="nome" type="text" pInputText formControlName="nome"  class="" />
                </div>

                <div class="col flex flex-column">
                    <label for="raca" class="font-semibold text-left mb-4">Raça</label>
                    <p-dropdown [options]="racas" formControlName="raca" optionLabel="nome" [filter]="true"
                                filterBy="nome" [showClear]="true" [style]="{'minWidth':'100%'}"  placeholder="Selecione uma raça" id="raca"
                                class="w-full" />
                </div>

                <div class="col flex flex-column">
                    <label for="sexo" class="font-semibold text-left mb-4">Sexo</label>
                    <p-dropdown [options]="sexo" formControlName="sexo" optionLabel="nome" [filter]="true"
                                [showClear]="true" placeholder="Selecione o sexo" id="sexo" [style]="{'minWidth':'100%'}" class="w-full" />
                </div>
            </div>

            <button (click)="filter()"
                class="p-button p-component font-bold text-white bg-green-600 hover:bg-green-700 transition-colors duration-200 border-none w-full py-3 text-base md:text-lg mt-4">
                <span class="p-button-label">Procurar</span>
            </button>
        </div>

        <div class="flex justify-content-end mb-4">
            <button pButton label="Adicionar Pet" icon="pi pi-plus"
                class="p-button-rounded p-button-success p-button-md transition-transform hover:scale-120"
                (click)="addPet()"></button>
        </div>

        <p-table [value]="filteredPets" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '60rem' }"
                 [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="['nome', 'raca.nome', 'sexo']"
                 class="shadow-2 border-round">
            <ng-template pTemplate="header">
                <tr class="bg-teal-100 text-teal-700">
                    <th style="width:40%" class="text-left">Nome</th>
                    <th style="width:40%" class="text-left">Raça</th>
                    <th style="width:20%" class="text-left">Sexo</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-pet>
                <tr (click)="viewDetails(pet)"
                    class="cursor-pointer hover:bg-teal-100 transition-colors hover:text-teal-700">
                    <td class="flex align-items-center">
                        <i class="pi pi-paw mr-2 text-teal-500" style="font-size: 1.2rem;"></i>
                        <span class="text-lg font-medium">{{ pet.nome }}</span>
                    </td>
                    <td>
                        <span class="text-md">{{ pet.raca.nome }}</span>
                    </td>
                    <td>
                        <span class="text-md">{{ pet.sexo === 'M' ? 'Macho' : 'Fêmea' }}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
